<!--<iframe style="position: fixed; z-index: -99; width: 100%; height: 100%"-->
<!--        src="https://www.youtube.com/embed/ePJ66eiqgJw?start=177&rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=0&autoplay=1"-->
<!--        width="560"-->
<!--        height="315"-->
<!--        frameborder="0"-->
<!--        allowfullscreen>-->
<!--</iframe>-->

<div class="animated custom_font gradiented">{{tickCounter}}</div>

<div class="text_wrapper">
<!--  <div *ngFor="let item of lines"-->
<!--       class="line">-->
<!--    <div *ngFor="let word of item.words">-->
<!--      <div class="animated custom_font"-->
<!--        [ngClass]="{colored: word.tick < tickCounter}"-->
<!--        [ngStyle]="{'transition': 'background-position ' + word.transitionDuration + 'ms ease'}">{{word.value}}&nbsp;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="line">
    <div *ngFor="let word of line0.words">
      <div class="animated custom_font"
           [ngClass]="{colored: word.ticks < tickCounter, new_line: line0.startTick > tickCounter}"
           [ngStyle]="{'transition': 'background-position ' + word.transitionDuration + 'ms ease'}">{{word.value}}&nbsp;
      </div>
    </div>
  </div>
<!--  [ngClass]="{new_line: line0.startTick < tickCounter}"-->

  <div class="line">
    <div *ngFor="let word of line1.words">
      <div class="animated custom_font"
           [ngClass]="{colored: word.ticks < tickCounter, new_line: line1.startTick > tickCounter}"
           [ngStyle]="{'transition': 'background-position ' + word.transitionDuration + 'ms ease'}">{{word.value}}&nbsp;
      </div>
    </div>
  </div>
</div>

<!--<input id="preview"-->
<!--       type="file"-->
<!--       class="loader_btn"-->
<!--       (change)="previewFile($event)" />-->

<div class="reset_ticks_btn"
     (click)="resetTicksCounter()">Reset ticks counter</div>

<app-editor [tickCounter]="tickCounter"
            [lines]="lines"></app-editor>
